@charset "utf-8";
/* CSS Document */


	
/*smile icon begins here*/
div[ico=smile] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=smile]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .8);
	}
div[ico-obj=smile] {
	width:3px;
	height:4px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:5px;
	bottom:4px;
	margin:auto;
	background:#554E3E ;
	border-radius:10px 10px 10px 10px;
	}
div[ico-obj=smile]::before {
	width:3px;
	height:4px;
	position: absolute;
	content:"";
	top:0px;
	left:5px;
	right:0px;
	bottom:0px;
	margin-bottom:3px;
	background:#554E3E ;
	border-radius:10px 10px 10px 10px;
	}
	
div[ico-obj=smile]::after {
	width:15px;
	height:22px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin-left:-4px;
	margin-top:-14px;
	position: absolute;
	border-left:1px solid transparent;
	border-bottom:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
}
/*smile icon ends here*/

/*sad icon begins here*/

/*I used this span to rap sad smiley*/

span[ico="smiley"] {
	width:20px;
	height:20px;
	position: relative;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:auto;
	}
	
div[ico=sad] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=sad]:before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow:inset 0px 0px 1.3px rgba(0, 0, 0, .8);
	}
div[ico-obj1=sad] {
	width:3px;
	height:4px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:7px 6px;
	background:#554E3E ;
	border-radius:10px 10px 10px 10px;
	}
div[ico-obj1=sad]:before {
	width:3px;
	height:4px;
	position: absolute;
	content:"";
	top:3px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:-3px 5px;
	background:#554E3E ;
	border-radius:10px 10px 10px 10px;
	}
	
div[ico-obj1=sad]:after {
	width:12px;
	height:20px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:5px -3px;
	border-left:1px solid transparent;
	border-top:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
}
/*sad icon ends here*/

/*laugh icon begins here*/
div[ico=laugh] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=laugh]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow:inset 0px 0px 1.3px rgba(0, 0, 0, .8);
	}
div[ico=laugh]::after {
	width:11px;
	height:1px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:#fff;
	margin:10px 5px;
	border-radius:0px 0px 1px 1px;
	}
div[ico-obj1=laugh] {
	width:6px;
	height:16px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:6px 4px;
	border-left:1.5px solid transparent;
	border-top:1.5px solid #554E3E;
	border-right:1.5px solid transparent;
	border-radius:50%;
	}
div[ico-obj1=laugh]::before {
	width:6px;
	height:16px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:-1.5px 4px;
	border-left:1.5px solid transparent;
	border-top:1.5px solid #554E3E;
	border-right:1.5px solid transparent;
	border-radius:50%;
	}
	
div[ico-obj1=laugh]::after {
	width:9px;
	height:4px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:3px -0.5px;
	background:#6C4D0B;
	border-radius:0px 0px 80px 80px;
	border:1px solid #6C4D0B;
	}
/*laugh icon ends here*/

/*straight_face icon begins here*/
div[ico=straight_face] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=straight_face]:before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow:inset 0px 0px 1.3px rgba(0, 0, 0, .7);
	}
div[ico-obj=straight_face] {
	width:3px;
	height:4px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:7px 6px;
	background:#554E3E ;
	border-radius:10px 10px 10px 10px;
	}
div[ico-obj=straight_face]:before {
	width:3px;
	height:4px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:3px;
	margin:0px 5px;
	background:#554E3E ;
	border-radius:10px 10px 10px 10px;
	}
	
div[ico-obj=straight_face]:after {
	width:8px;
	height:1px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:6px 0px;
	background:#554E3E ;
	border-radius:3px 3px 3px 3px;
}
/*straight_face icon ends here*/

/*love struck icon begins here*/
div[ico=lovestruck] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=lovestruck]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow:inset 0px 0px 1.3px rgba(0, 0, 0, .8);
	}

div[ico-obj1=lovestruck] {
	width:3px;
	height:5px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:4px;
	bottom:3px;
	background:#f00;
	margin:auto;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
		 -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
		-o -transform-origin: 0 100%;
            transform-origin: 0 100%;
	}
div[ico-obj1=lovestruck]::before {
	width:3px;
	height:4.8px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:#f00;
	margin: 1px 0px 0px 1px;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(85deg);
        -ms-transform: rotate(85deg);
            transform: rotate(85deg);
	}
div[ico-obj2=lovestruck] {
	width:3px;
	height:5px;
	position: absolute;
	content:"";
	top:0px;
	left:10px;
	right:0px;
	bottom:3px;
	background:#f00;
	margin:auto;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
		-o -transform-origin: 0 100%;
            transform-origin: 0 100%;
	}
div[ico-obj2=lovestruck]::before {
	width:3px;
	height:4.8px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:#f00;
	margin: 1px 0px 0px 1px;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(85deg);
        -ms-transform: rotate(85deg);
		-o-transform: rotate(85deg);
            transform: rotate(85deg);
	}
div[ico-obj3=lovestruck] {
	width:8px;
	height:3px;
	position: absolute;
	content:"";
	top:7px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:auto;
	background:#fff;
	border-radius:0px 0px 80px 80px;
	box-shadow:0px 0px 1px rgba(0, 0, 0, .8);
	}
/*love struck icon ends here*/

/*tongue icon begins here*/
div[ico=tongue] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=tongue]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset0px 0px 1.3px rgba(0, 0, 0, .8);
	z-index:-1;
	}
div[ico-obj1=tongue] {
	width:5px;
	height:10px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:6px 10px;
	border-left:1.5px solid transparent;
	border-top:1.5px solid #554E3E;
	border-right:1.5px solid transparent;
	border-radius:100%;
	}
div[ico-obj1=tongue]::before {
	width:5px;
	height:10px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:-1.5px -7px;
	border-left:1.5px solid transparent;
	border-top:1.5px solid #554E3E;
	border-right:1.5px solid transparent;
	border-radius:100%;
	}
	
div[ico-obj2=tongue] {
	width:14px;
	height:26px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:-13.5px 2.5px;
	border-left:1.5px solid transparent;
	border-bottom:1.5px solid #554E3E;
	border-right:1.5px solid transparent;
	border-radius:50%;
}
div[ico-obj2=tongue]::before {
	width:5px;
	height:4px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:26px 5px;
	background: rgba(255,0,0,.6);
	border-radius:0px 0px 5px 5px;
	-webkit-transform:rotate(-20deg);
	    -ms-transform:rotate(-20deg);
		-o-transform:rotate(-20deg);
	        transform:rotate(-20deg);
	z-index:-1;
}
/*tongue icon ends here*/

/*shocked icon begins here*/
div[ico=shocked] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=shocked]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .8);
	}
div[ico-obj1=shocked] {
	width:4px;
	height:5px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:5px 5px;
	background:#fff;
	border-radius:70px 70px 60px 60px;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .6);
	}
div[ico-obj1=shocked]::before {
	width:4px;
	height:5px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:00x;
	bottom:3px;
	margin:0px 6px;
	background:#fff ;
	border-radius:70px 70px 60px 60px;
	box-shadow:0px 0px 1px rgba(0, 0, 0, .6);
	}
	
div[ico-obj1=shocked]::after {
	width:4px;
	height:4px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:7px 3px;
	background: rgba(0,0,0,.6);
	border-radius:50%;
}
div[ico-obj2=shocked] {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:6px;
	bottom:5px;
	position: absolute;
	margin:auto;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
div[ico-obj2=shocked]::before {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:6px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:auto;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
/*shocked icon ends here*/

/*wink icon begins here*/
div[ico=wink] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=wink]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .8);
	}
div[ico-obj=wink] {
	width:7px;
	height:10px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:7px 3px;
	border-left:1px solid transparent;
	border-top:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:100%;
	}
div[ico-obj=wink]::before {
	width:3px;
	height:3px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:-1px 8px;
	background:#554E3E ;
	border-radius:10px 10px 10px 10px;
	}
	
div[ico-obj=wink]::after {
	width:13px;
	height:24px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:-18px -1px;
	border-left:1px solid transparent;
	border-bottom:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
}
/*wink icon ends here*/

/*cool icon begins here*/
div[ico=cool] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=cool]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .8);
	}
div[ico=cool]:after {
	width:13px;
	height:16px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:-2px 2.5px;
	border-left:1px solid transparent;
	border-bottom:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
	-webkit-transform:rotate(-5deg);
	    -ms-transform:rotate(-5deg);
		-0-transform:rotate(-5deg);
	        transform:rotate(-5deg);
	}
div[ico-obj=cool] {
	width:16px;
	height:1px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:#554E3E;
	position: absolute;
	margin:7px 2px;
	}
div[ico-obj=cool]::before {
	width:6px;
	height:4px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:0px 9px;
	background:#554E3E ;
	border-radius:2px 2px 3px 3px;
	}
	
div[ico-obj=cool]::after {
	width:6px;
	height:4px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:0px 2px;
	background:#554E3E ;
	border-radius:2px 2px 3px 3px;
}
/*cool icon ends here*/

/*upset icon begins here*/
div[ico=upset] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=upset]:before {
	width:16px;
	height:16px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FF9393, #FF4848 );
	background:linear-gradient(to bottom, #FF9393, 40%, #FF4848, 80%, #FF4848 );
	border-radius:100%;
	margin:auto;
	box-shadow:inset 0px 0px 1.7px rgba(0, 0, 0, .8);
	}
div[ico=upset]:after {
	width:10px;
	height:8px;
	content:"";
	top:13px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:auto;
	border-top:1px solid #554E3E;
	border-radius:50%;
	}
div[ico-obj1=upset] {
	width:4px;
	height:4px;
	position: absolute;
	content:"";
	top:1px;
	left:0px;
	right:6px;
	bottom:5px;
	margin:auto;
	background:#fff;
	border-radius:5px 5px 60px 60px;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .8);
	-webkit-transform:rotate(20deg);
	    -ms-transform:rotate(20deg);
		-0-transform:rotate(20deg);
	        transform:rotate(20deg);
	}
div[ico-obj1=upset]::before {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:auto;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
	}
	
div[ico-obj1=upset]::after {
	width:7px;
	height:1px;
	content:"";
	top:0px;
	left:-2px;
	right:0px;
	bottom:4px;
	position: absolute;
	margin:auto;
	background:#554E3E;
}
div[ico-obj2=upset] {
	width:4px;
	height:4px;
	position: absolute;
	content:"";
	top:1px;
	left:6px;
	right:0px;
	bottom:5px;
	margin:auto;
	background:#fff;
	border-radius:5px 5px 60px 60px;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .8);
	-webkit-transform:rotate(-20deg);
	    -ms-transform:rotate(-20deg);
		-0-transform:rotate(-20deg);
	        transform:rotate(-20deg);
}
div[ico-obj2=upset]::before {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:1px;
	bottom:0px;
	position: absolute;
	margin:auto;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
div[ico-obj2=upset]::after {
	width:7px;
	height:1px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:4px;
	position: absolute;
	margin:auto;
	background:#554E3E;
	}
/*upset icon ends here*/

/*nerd icon begins here*/
div[ico=nerd] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=nerd]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .6);
	}
div[ico=nerd]::after {
	width:11px;
	height:16px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:-2px 4px;
	border-left:1px solid transparent;
	border-bottom:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
	}
div[ico-obj1=nerd] {
	width:16px;
	height:1px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:#554E3E;
	position: absolute;
	margin:6px 2px;
	}
div[ico-obj1=nerd]::before {
	width:5px;
	height:4px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:0px 1px;
	background:#fff;
	border:1px solid #554E3E;
	border-radius:2px 2px 3px 3px;
	}
	
div[ico-obj1=nerd]::after {
	width:5px;
	height:4px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:0px 8px;
	background:#fff;
	border:1px solid #554E3E;
	border-radius:2px 2px 3px 3px;
}
div[ico-obj2=nerd] {
	width:2px;
	height:2px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:8px 6px;
	background:#554E3E;
	border-radius:3px 3px 3px 3px;
}
div[ico-obj2=nerd]::before {
	width:2px;
	height:2px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:0px 6px;
	background:#554E3E;
	border-radius:3px 3px 3px 3px;
}
div[ico-obj2=nerd]::after {
	width:3px;
	height:2px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:6px 3px;
	background:#fff;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .6);
}
/*nerd icon ends here*/

/*heart icon begins here*/
div[ico=heart] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=heart]::before {
	width:8px;
	height:14px;
	position: absolute;
	content:"";
	top:2px;
	left:8px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FF9393, #FF1C1C);
	background:linear-gradient(to bottom, #FF9393, 20%, #FF1C1C);
	margin:auto;
    border-radius: 80px 80px 0 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
		 -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
		-o-transform-origin: 0 100%;
		-o -transform-origin: 0 100%;
            transform-origin: 0 100%;
			box-shadow: inset 0px 1px 1.4px rgba(0,0,0,.1);
	}
div[ico=heart]::after {
	width:8px;
	height:14px;
	position: absolute;
	content:"";
	top:2px;
	left:7px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #f00, #FF9393);
	background:linear-gradient(to bottom, #FF9393, 20%, #FF1C1C);
	margin: 1px 0px 0px 1px;
    border-radius: 80px 80px 0 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
            transform: rotate(45deg);
			box-shadow: inset 0px 2px 0px rgba(0,0,0,.1);
	}
/*heart icon ends here*/

/*bored icon begins here*/
div[ico=bored] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=bored]:before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .8);
	}
div[ico-obj=bored] {
	width:5px;
	height:3px;
	position: absolute;
	content:"";
	top:1px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:7px 5px;
	background:#554E3E ;
	border-radius:2px 2px 5px 5px;
	}
div[ico-obj=bored]:before {
	width:5px;
	height:3px;
	position: absolute;
	content:"";
	top:3px;
	left:6px;
	right:0px;
	bottom:0px;
	margin:-3px 0px;
	background:#554E3E ;
	border-radius:2px 2px 5px 5px;
	}
	
div[ico-obj=bored]:after {
	width:8px;
	height:1px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:5px 1px;
	background: rgba(0,0,0,.5);
	border-radius:3px 3px 3px 3px;
	-ms-transform:rotate(10deg);
	-o-transform:rotate(10deg);
	-webkit-transform:rotate(10deg);
	transform:rotate(10deg);
}
/*bored icon ends here*/

/*yawn icon begins here*/
div[ico=yawn] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=yawn]:before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .8);
	z-index:-1;
	}
div[ico-obj1=yawn] {
	width:6px;
	height:10px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:-2px 2px;
	border-left:1px solid transparent;
	border-bottom:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
	-webkit-transform:rotate(-10deg);
	    -ms-transform:rotate(-10deg);
		 -ms-transform:rotate(-10deg);
	        transform:rotate(-10deg);
	}
div[ico-obj1=yawn]:before {
	width:6px;
	height:10px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:1px 5px;
	border-left:1px solid transparent;
	border-bottom:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
	}
	
div[ico-obj2=yawn] {
	width:6px;
	height:6px;
	content:"";
	top:5px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:auto;
	background:rgba(0,0,0,.7);
	border-radius:50%;
	z-index:1;
	overflow:hidden;
}
div[ico-obj2=yawn]:before {
	width:4px;
	height:3px;
	content:"";
	top:3px;
	left:2px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:auto;
	background: rgba(255,0,0,.9);
	border-radius:5px 5px 0px 0px;
	-webkit-transform:rotate(-10deg);
	    -ms-transform:rotate(-10deg);
		 -o-transform:rotate(-10deg);
	        transform:rotate(-10deg);
	z-index:-1;
}
/*yawn icon ends here*/

/*pacman icon begins here*/
div[ico=pacman] {
	width:16px;
	height:16px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=pacman]:before {
	width: 0px; 
	 height: 0px;
	 position: absolute;
	content:""; 
	top:1px;
	left:1px;
	right:0px;
	bottom:0px;
	 border-right: 7px solid transparent; 
	 border-top: 7px solid #F8C001; 
	 border-left: 7px solid #F8C001; 
	 border-bottom: 7px solid #F8C001; 
	 border-top-left-radius: 7px; 
	 border-top-right-radius: 7px; 
	 border-bottom-left-radius: 7px; 
	 border-bottom-right-radius: 7px; 
	 box-shadow:-1px 0px 1.3px rgba(0, 0, 0, .6);
}
div[ico=pacman]:after {
	width: 2px; 
	 height: 2px;
	 position: absolute;
	content:""; 
	top:3px;
	left:5px;
	right:0px;
	bottom:0px;
	border-radius:100%;
	background:rgba(0,0,0,.6);
}
/*pacman icon ends here*/

/*unsure icon begins here*/
div[ico=unsure] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=unsure]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .5);
	}
div[ico-obj1=unsure] {
	width:5px;
	height:6px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:5px 5px;
	background:#fff ;
	-webkit-border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
	border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
	box-shadow:0px 0px 1px rgba(0, 0, 0, 1);
	}
div[ico-obj1=unsure]::before {
	width:5px;
	height:6px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:0px 6px;
	background:#fff ;
	-webkit-border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
	border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
	box-shadow:0px 0px 1px rgba(0, 0, 0, 1);
	}
	
div[ico-obj1=unsure]::after {
	width:7px;
	height:1px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:8px 2px;
	background: rgba(0,0,0,.6);
	border-radius:5px 5px 5px 5px;
}
div[ico-obj2=unsure] {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:8px 7px;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
div[ico-obj2=unsure]::before {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:0px 5px;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
/*unsure icon ends here*/

/*crying icon begins here*/
div[ico=crying] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=crying]:before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow:inset 0px 0px 1.3px rgba(0, 0, 0, .6);
	z-index:-1;
	}
div[ico-obj1=crying] {
	width:5px;
	height:10px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:6px 4px;
	border-left:1px solid transparent;
	border-top:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
	}
div[ico-obj1=crying]:before {
	width:5px;
	height:10px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:-1px 4px;
	border-left:1px solid transparent;
	border-top:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
	}
	
div[ico-obj2=crying] {
	width:6px;
	height:6px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:10px 7px;
	background:rgba(0,0,0,.7);
	border-radius:50%;
	z-index:1;
	overflow:hidden;
}
div[ico-obj2=crying]:before {
	width:4px;
	height:3px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:3px 2px;
	background: rgba(255,0,0,.9);
	border-radius:5px 5px 5px 3px;
	-webkit-transform:rotate(-10deg);
	    -ms-transform:rotate(-10deg);
		 -o-transform:rotate(-10deg);
	        transform:rotate(-10deg);
	z-index:-1;
}
div[ico-obj2=crying]::after {
	width:5px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:0px 0px;
	background: rgba(255,255,255,1);
	border-radius:0px 0px 2px 2px;
	-webkit-transform:rotate(-10deg);
	    -ms-transform:rotate(-10deg);
		 -o-transform:rotate(-10deg);
	        transform:rotate(-10deg);
	z-index:-1;
}
div[ico-obj3=crying] {
	width:3px;
	height:4px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:7px 14px;
	background:#7EC8FE ;
	-webkit-border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
	border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
	box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 1);
	transform:rotate(-40deg);
	-ms-transform:rotate(-40deg);
	-o-transform:rotate(-40deg);
	-webkit-transform:rotate(-40deg);
}
div[ico-obj3=crying]::before {
	width:3px;
	height:4px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:-7px -9px;
	background:#7EC8FE ;
	-webkit-border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
	border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
	box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 1);
	transform:rotate(80deg);
	-ms-transform:rotate(80deg);
	-o-transform:rotate(80deg);
	-webkit-transform:rotate(80deg);
}
/*crying icon ends here*/

/*devil icon begins here*/
div[ico=devil] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=devil]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FF9393, #FF4848, #FF4848);
	background:linear-gradient(to bottom, #FF9393, 40%, #FF4848, 80%, #FF4848 );
	border-radius:100%;
	margin:auto;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .8);
	}

div[ico-obj1=devil] {
	width:4px;
	height:3px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:7px 5px;
	background:#fff;
	border-radius:5px 5px 60px 60px;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .8);
	-webkit-transform:rotate(20deg);
	    -ms-transform:rotate(20deg);
		-0-transform:rotate(20deg);
	        transform:rotate(20deg);
	}
div[ico-obj1=devil]::before {
	width:2px;
	height:3px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:0px 1px;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
	}
	
div[ico-obj1=devil]::after {
	width:7px;
	height:1px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:0px -2px;
	background:#554E3E;
}
div[ico-obj2=devil] {
	width:4px;
	height:3px;
	position: absolute;
	content:"";
	top:3px;
	left:6px;
	right:0px;
	bottom:6px;
	margin:auto;
	background:#fff;
	border-radius:5px 5px 60px 60px;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .8);
	-webkit-transform:rotate(-20deg);
	    -ms-transform:rotate(-20deg);
		-0-transform:rotate(-20deg);
	        transform:rotate(-20deg);
	
}
div[ico-obj2=devil]::before {
	width:2px;
	height:3px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:0px 1px;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
div[ico-obj2=devil]::after {
	width:7px;
	height:1px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:0px 0px;
	background:#554E3E;
	}
div[ico-obj3=devil] {
	width:8px;
	height:4px;
	content:"";
	top:7px;
	left:0px;
	right:0px;
	bottom:0px;
	background:#fff;
	position: absolute;
	margin:auto;
	border-radius:1px 1px 1px 1px;
	overflow:hidden;
	}

div[ico-obj3=devil]::before {
	width:2px;
	height:5px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:0px 2px;
	border-right:1px solid rgba(0,0,0,.5);
	border-left:1px solid rgba(0,0,0,.5);
	z-index:1;
	}
div[ico-obj3=devil]::after {
	width:11px;
	height:1px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:2px 0px;
	background: rgba(0,0,0,.4);
}
div[ico-obj4=devil] {
	width:0px;
	height:0px;
	content:"";
	top:0px;
	left:0px;
	right:14px;
	bottom:13px;
	position: absolute;
	margin:auto;
	border-left: 2px solid transparent; 
	border-right: 2px solid transparent; 
	border-bottom: 7px solid #554E3E;
	border-radius:0px 0px 5px 5px;
	-ms-transform:rotate(-40deg);
	-o-transform:rotate(-40deg);
	-webkit-transform:rotate(-40deg);
	transform:rotate(-40deg);
}
div[ico-obj4=devil]::before {
	width:0px;
	height:0px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:9px 9px;
	border-left: 2px solid transparent; 
	border-right: 2px solid transparent; 
	border-bottom: 7px solid #554E3E;
	border-radius:0px 0px 5px 5px;
	-ms-transform:rotate(70deg);
	-o-transform:rotate(70deg);
	-webkit-transform:rotate(70deg);
	transform:rotate(70deg);
}
/*devil icon ends here*/

/*angel icon begins here*/
div[ico=angel] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=angel]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:1px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FFFFC6, #F8C001);
	background:linear-gradient(to bottom, #FFFFC6, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .9);
	z-index:-1;
	}
div[ico-obj1=angel] {
	width:6px;
	height:10px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:0px 3px;
	border-left:1px solid transparent;
	border-bottom:1px solid #5C5443;
	border-right:1px solid transparent;
	border-radius:50%;
	}
div[ico-obj1=angel]::before {
	width:6px;
	height:10px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:0px 5px;
	border-left:1px solid transparent;
	border-bottom:1px solid #5C5443;
	border-right:1px solid transparent;
	border-radius:50%;
	}
div[ico-obj1=angel]::after {
	width:8px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:2px 1px;
	border-radius:100%;
	border:1px solid #8AC5FF;
	box-shadow:0px 0px 1.5px rgba(0, 0, 0, 1);
	}
	
div[ico-obj2=angel] {
	width:12px;
	height:26px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:-11px 3px;
	border-left:1px solid transparent;
	border-bottom:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
}
/*angel icon ends here*/

/*kiss icon begins here*/
div[ico=kiss] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=kiss]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .8);
	}

div[ico-obj1=kiss] {
	width:2px;
	height:2px;
	position: absolute;
	content:"";
	top:5px;
	left:6px;
	right:0px;
	bottom:0px;
	background: rgba(0,0,0,.7);
	margin: 1px 0px 0px 1px;
    border-radius: 50px 50px 50px 50px;
	}
div[ico-obj1=kiss]::before {
	width:2px;
	height:2px;
	position: absolute;
	content:"";
	top:-1px;
	left:4px;
	right:0px;
	bottom:0px;
	background: rgba(0,0,0,.7);
	margin: 1px 0px 0px 1px;
    border-radius: 50px 50px 50px 50px;
	}

div[ico-obj2=kiss] {
	width:3px;
	height:5px;
	position: absolute;
	content:"";
	top:7px;
	left:13px;
	right:0px;
	bottom:0px;
	background:#f00;
	margin:auto;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
            transform: rotate(-35deg);
    -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
		-o -transform-origin: 0 100%;
            transform-origin: 0 100%;
	}
div[ico-obj2=kiss]::before {
	width:3px;
	height:4.8px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:#f00;
	margin: 1px 0px 0px 1px;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(85deg);
        -ms-transform: rotate(85deg);
		-o-transform: rotate(85deg);
            transform: rotate(85deg);
	}
div[ico-obj3=kiss] {
	width:2px;
	height:3px;
	position: absolute;
	content:"";
	top:8px;
	left:8px;
	right:0px;
	bottom:0px;
	margin: 1px 0px 0px 1px;
	border-left:1px solid rgba(51,51,51,1);
	border-right:1px solid rgba(51,51,51,1);
	border-top:1px solid rgba(51,51,51,1);
    border-radius: 50px 50px 0px 0px;
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
	}
div[ico-obj3=kiss]::before {
	width:2px;
	height:3px;
	position: absolute;
	content:"";
	top:-2px;
	left:1px;
	right:0px;
	bottom:0px;
	margin: 1px 0px 0px 1px;
	border-left:1px solid rgba(51,51,51,1);
	border-right:1px solid rgba(51,51,51,1);
	border-top:1px solid rgba(51,51,51,1);
    border-radius: 50px 50px 0px 0px;
}
/*kiss icon ends here*/

/*confused icon begins here*/
div[ico=confused] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=confused]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .8);
	}
div[ico-obj1=confused] {
	width:5px;
	height:6px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:5px 4px;
	background:#fff;
	border-radius:70px 70px 60px 60px;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .6);
	}
div[ico-obj1=confused]::before {
	width:5px;
	height:6px;
	position: absolute;
	content:"";
	top:0pxpx;
	left:0px;
	right:0px;
	bottom:0px;
	margin:0px 7px;
	background:#fff ;
	border-radius:70px 70px 60px 60px;
	box-shadow:0px 0px 1px rgba(0, 0, 0, .6);
	}
	
div[ico-obj1=confused]::after {
	width:8px;
	height:1px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:8px 2px;
	background: rgba(0,0,0,.6);
	-ms-transform:rotate(10deg);
	-o-transform:rotate(10deg);
	-webkit-transform:rotate(10deg);
	transform:rotate(10deg);
}
div[ico-obj2=confused] {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:6px 6px;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
div[ico-obj2=confused]::before {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:0px 6px;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
/*confused icon ends here*/

/*embarassed icon begins here*/
div[ico=embarassed] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=embarassed]:before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .8);
	}
div[ico-obj1=embarassed] {
	width:6px;
	height:3px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:7px 4px;
	background: rgba(0,0,0,.4);
	border-radius:10px 10px 1px 1px;
	}
div[ico-obj1=embarassed]:before {
	width:6px;
	height:3px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:0px 6px;
	background: rgba(0,0,0,.4);
	border-radius:10px 10px 1px 1px;
	}
	
div[ico-obj1=embarassed]:after {
	width:10px;
	height:20px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:5px -1px;
	border-left:1px solid transparent;
	border-top:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
	-ms-transform:rotate(5deg);
	-o-transform:rotate(5deg);
	-webkit-transform:rotate(5deg);
	transform:rotate(5deg);
}
/*embarassed icon ends here*/

/*blush icon begins here*/
div[ico=blush] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=blush]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .8);
	}
div[ico-obj1=blush] {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:-5px;
	right:0px;
	bottom:5px;
	position: absolute;
	margin:auto;
	background:#554E3E ;
	border-radius:10px 10px 10px 10px;
	}
div[ico-obj1=blush]::before {
	width:2px;
	height:2px;
	position: absolute;
	content:"";
	top:0px;
	left:5px;
	right:0px;
	bottom:0px;
	margin:auto;
	background:#554E3E ;
	border-radius:10px 10px 10px 10px;
	}
	
div[ico-obj1=blush]::after {
	width:7px;
	height:10px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:-3px -1px;
	border-left:1.5px solid transparent;
	border-bottom:1.5px solid #554E3E;
	border-right:1.5px solid transparent;
	border-radius:50%;
}
div[ico-obj2=blush] {
	width:3px;
	height:3px;
	content:"";
	top:2px;
	left:0px;
	right:9px;
	bottom:0px;
	position: absolute;
	margin:auto;
	border-radius:50%;
	background: rgba(255,0,0,.4);
	box-shadow:0px 0px 2px rgba(255,0,0,.9);
}
div[ico-obj2=blush]::before {
	width:3px;
	height:3px;
	content:"";
	top:0px;
	left:9px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:auto;
	border-radius:50%;
	background: rgba(255,0,0,.4);
	box-shadow:0px 0px 2px rgba(255,0,0,.9);
}
/*blush icon ends here*/

/*worried icon begins here*/
div[ico=worried] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=worried]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .9);
	}
div[ico-obj1=worried] {
	width:4px;
	height:5px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:6px 6px;
	background:#fff;
	border-radius:70px 70px 60px 60px;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .6);
	}
div[ico-obj1=worried]::before {
	width:4px;
	height:5px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:0px 5px;
	background:#fff ;
	border-radius:70px 70px 60px 60px;
	box-shadow:0px 0px 1px rgba(0, 0, 0, .6);
	}
	
div[ico-obj1=worried]::after {
	width:10px;
	height:20px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:6px 0px;
	border-left:1px solid transparent;
	border-top:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
	-ms-transform:rotate(-10deg);
	-o-transform:rotate(-10deg);
	-webkit-transform:rotate(-10deg);
	transform:rotate(-10deg);
}
div[ico-obj2=worried] {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:7px 7px;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
div[ico-obj2=worried]::before {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:0px 5px;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
/*worried icon ends here*/

/*wondering icon begins here*/
div[ico=wondering] {
	width:16px;
	height:16px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=wondering]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .8);
	}
div[ico-obj1=wondering] {
	width:6px;
	height:6px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:2px 2px;
	background:#fff;
	border-radius:70px 70px 60px 60px;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .6);
	}
div[ico-obj1=wondering]::before {
	width:6px;
	height:6px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:0px 7px;
	background:#fff ;
	border-radius:70px 70px 60px 60px;
	box-shadow:0px 0px 1px rgba(0, 0, 0, .6);
	}

div[ico-obj2=wondering] {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:5px 4px;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
div[ico-obj2=wondering]::before {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:0px 7px;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
div[ico-obj3=wondering] {
	width:5px;
	height:4px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:9px 5px;
	background: rgba(0,0,0,.6);
	border-radius:50px 50px 20px 20px;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
	overflow:hidden;
}
div[ico-obj3=wondering]::before {
	width:4px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:3px 1px;
	background: rgba(255,0,0,1);
	border-radius:5px 5px 10px 5px;
	box-shadow:0px 0px 1.3px rgba(255, 0, 0, .1);
}
/*wondering icon ends here*/

/*thinking icon begins here*/
div[ico=thinking] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=thinking]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .9);
	}
div[ico-obj1=thinking] {
	width:4px;
	height:5px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:5px 5px;
	background:#fff;
	border-radius:70px 70px 60px 60px;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .9);
	}
div[ico-obj1=thinking]::before {
	width:4px;
	height:5px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:0px 5px;
	background:#fff ;
	border-radius:70px 70px 60px 60px;
	box-shadow:0px 0px 1px rgba(0, 0, 0, .9);
	}
	
div[ico-obj1=thinking]::after {
	width:8px;
	height:20px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:7px -3px;
	border-left:1px solid transparent;
	border-top:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
	-ms-transform:rotate(10deg);
	-o-transform:rotate(10deg);
	-webkit-transform:rotate(10deg);
	transform:rotate(10deg);
}
div[ico-obj2=thinking] {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:6px 6px;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
div[ico-obj2=thinking]::before {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:0px 4px;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
/*thinking icon ends here*/

/*whew icon begins here*/
div[ico=whew] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=whew]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .8);
	}
div[ico-obj1=whew] {
	width:5px;
	height:6px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:5px 5px;
	background:#fff;
	border-radius:70px 70px 60px 60px;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .6);
	}
div[ico-obj1=whew]::before {
	width:5px;
	height:6px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:0px 6px;
	background:#fff;
	border-radius:70px 70px 60px 60px;
	box-shadow:0px 0px 1px rgba(0, 0, 0, .6);
	}
	
div[ico-obj1=whew]::after {
	width:2px;
	height:3px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:7px 4px;
	border-radius:50px 50px 50px 50px;
	background: rgba(0,0,0,.6);
}
div[ico-obj2=whew] {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:5px;
	bottom:7px;
	position: absolute;
	margin:auto;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
div[ico-obj2=whew]::before {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:5px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:auto;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
/*whew icon ends here*/

/*sick icon begins here*/
div[ico=sick] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=sick]::before {
	width:14.5px;
	height:14.5px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #BFF2CB, #3C0);
	background:linear-gradient(to bottom, #BFF2CB, #3C0);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .9);
	}
div[ico-obj1=sick] {
	width:1px;
	height:5px;
	position: absolute;
	content:"";
	top:1px;
	left:0px;
	right:6px;
	bottom:4px;
	margin:auto;
	background: rgba(0,0,0,.5);
	}
div[ico-obj1=sick]::before {
	width:1px;
	height:5px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:6px;
	bottom:0px;
	margin:auto;
	background: rgba(0,0,0,.5);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
	}
	
div[ico-obj1=sick]::after {
	width:12px;
	height:20px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:6px -4px;
	border-left:1px solid transparent;
	border-top:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
}
div[ico-obj2=sick] {
	width:1px;
	height:5px;
	position: absolute;
	content:"";
	top:0px;
	left:6px;
	right:0px;
	bottom:3px;
	margin:auto;
	background: rgba(0,0,0,.5);
}
div[ico-obj2=sick]::before {
	width:1px;
	height:5px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:6px;
	bottom:0px;
	margin:auto;
	background: rgba(0,0,0,.5);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
}
/*sick icon ends here*/

/*waiting icon begins here*/
div[ico=waiting] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=waiting]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 2px rgba(0, 0, 0, .8);
	}
div[ico-obj1=waiting] {
	width:5px;
	height:6px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:5px 6px;
	background:#fff;
	border-radius:70px 70px 60px 60px;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .6);
	}
div[ico-obj1=waiting]::before {
	width:4px;
	height:5px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:0px 6px;
	background:#fff ;
	border-radius:70px 70px 60px 60px;
	box-shadow:0px 0px 1px rgba(0, 0, 0, .6);
	}
	
div[ico-obj1=waiting]::after {
	width:3px;
	height:1px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:8px 5px;
	background: rgba(0,0,0,.6);
}
div[ico-obj2=waiting] {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:2px;
	bottom:5px;
	position: absolute;
	margin:auto;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
div[ico-obj2=waiting]::before {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:5px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:auto;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
div[ico-obj3=waiting] {
	width:8px;
	height:8px;
	content:"";
	top:9px;
	left:0px;
	right:8px;
	bottom:0px;
	position: absolute;
	margin:auto;
	background:#fff;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, 1);
}
div[ico-obj3=waiting]::before {
	width:1px;
	height:3px;
	content:"";
	top:0px;
	left:0px;
	right:2px;
	bottom:0px;
	position: absolute;
	margin:auto;
	background:#554E3E;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
div[ico-obj3=waiting]::after {
	width:1px;
	height:3px;
	content:"";
	top:2px;
	left:2px;
	right:2px;
	bottom:0px;
	position: absolute;
	margin:auto;
	background:#554E3E;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
}
/*waiting icon ends here*/

/*sweat icon begins here*/
div[ico=sweat] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=sweat]:before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.5px rgba(0, 0, 0, .8);
	}
div[ico=sweat]:after {
	width:6px;
	height:1px;
	content:"";
	top:7px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:auto;
	background:#554E3E;
	}
div[ico-obj1=sweat] {
	width:5px;
	height:3px;
	position: absolute;
	content:"";
	top:3px;
	left:0px;
	right:6px;
	bottom:5px;
	margin:auto;
	background:#fff;
	border-radius:5px 5px 60px 60px;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .8);
	}
div[ico-obj1=sweat]::before {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:1px;
	right:0px;
	bottom:1px;
	position: absolute;
	margin:auto;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
	}
	
div[ico-obj1=sweat]::after {
	width:5px;
	height:3px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:5px;
	bottom:6px;
	margin:auto;
	background:rgba(0,128,192,.4);
	border-radius:60px 60px 5px 5px;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .8);
}
div[ico-obj2=sweat] {
	width:5px;
	height:3px;
	position: absolute;
	content:"";
	top:3px;
	left:6px;
	right:0px;
	bottom:5px;
	margin:auto;
	background:#fff;
	border-radius:5px 5px 60px 60px;
	box-shadow:0px 0px 1px rgba(0, 0, 0, .8);
}
div[ico-obj2=sweat]::before {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:1px;
	bottom:1px;
	position: absolute;
	margin:auto;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
div[ico-obj2=sweat]::after {
	width:5px;
	height:3px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:6px;
	position: absolute;
	margin:auto;
	background:rgba(0,128,192,.4);
	border-radius:60px 60px 5px 5px;
	box-shadow:0px 0px 1px rgba(0, 0, 0, .8);
	}
div[ico-obj3=sweat] {
	width:4px;
	height:6px;
	position: absolute;
	content:"";
	top:0px;
	left:16px;
	right:0px;
	bottom:0px;
	margin:auto;
	background:#fff ;
	-webkit-border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
	border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
	box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 1);
	-ms-transform:rotate(-10deg);
	-o-transform:rotate(-10deg);
	-webkit-transform:rotate(-10deg);
	transform:rotate(-10deg);
}
div[ico-obj3=sweat]::before {
	width:3px;
	height:3px;
	position: absolute;
	content:"";
	top:10px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:auto;
	background:#fff ;
	-webkit-border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
	border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
	box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 1);
}
/*sweat icon ends here*/

/*speechless icon begins here*/
div[ico=speechless] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=speechless]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .8);
	}
div[ico-obj1=speechless] {
	width:4px;
	height:4px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:5px 5px;
	background:#fff;
	border-radius:70px 70px 60px 60px;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .6);
	}
div[ico-obj1=speechless]::before {
	width:4px;
	height:4px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:0px 5px;
	background:#fff ;
	border-radius:70px 70px 60px 60px;
	box-shadow:0px 0px 1px rgba(0, 0, 0, .6);
	}

div[ico-obj2=speechless] {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:6px;
	bottom:7px;
	position: absolute;
	margin:auto;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
div[ico-obj2=speechless]::before {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:5px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:auto;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
div[ico-obj3=speechless] {
	width:3px;
	height:10px;
	content:"";
	top:6px;
	left:-1px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:auto;
	background: #fff;
	border-radius:30px 30px 30px 30px;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .5);
	-ms-transform:rotate(120deg);
	-o-transform:rotate(120deg);
	-webkit-transform:rotate(120deg);
	transform:rotate(120deg);
}
div[ico-obj3=speechless]::before {
	width:3px;
	height:10px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:auto;
	background:#fff;
	border-radius:30px 30px 30px 30px;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .5);
	-ms-transform:rotate(120deg);
	-o-transform:rotate(120deg);
	-webkit-transform:rotate(120deg);
	transform:rotate(120deg);
}
/*speechless icon ends here*/

/*snooze icon begins here*/
div[ico=snooze] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=snooze]:before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.5px rgba(0, 0, 0, .8);
	}
div[ico-obj1=snooze] {
	width:6px;
	height:10px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:6px 2px;
	border-left:1.5px solid transparent;
	border-top:1.5px solid #554E3E;
	border-right:1.5px solid transparent;
	border-radius:50%;
	}
div[ico-obj1=snooze]:before {
	width:6px;
	height:10px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:-1px 5px;
	border-left:1.5px solid transparent;
	border-top:1.5px solid #554E3E;
	border-right:1.5px solid transparent;
	border-radius:50%;
	}
div[ico-obj1=snooze]:after {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:5px 3px;
	border-radius:50%;
	background:#554E3E;
	}
div[ico-obj3=snooze] {
	width:6px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:10px 9px;
	background:#554E3E;
	-webkit-transform:rotate(-20deg);
	    -ms-transform:rotate(-20deg);
		-o-transform:rotate(-20deg);
	        transform:rotate(-20deg);
	}
div[ico-obj3=snooze]:before {
	width:8px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:3px -1px;
	background:#554E3E;
	-webkit-transform:rotate(-50deg);
	    -ms-transform:rotate(-50deg);
		-o-transform:rotate(-50deg);
	        transform:rotate(-50deg);
	}
div[ico-obj3=snooze]:after {
	width:6px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:5px 1px;
	background:#554E3E;
	}
/*snooze icon ends here*/

/*poke icon begins here*/
div[ico=poke] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=poke]::before {
	width:15px;
	height:15px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .8);
	z-index:-1;
	}
div[ico=poke]::after {
	width:3px;
	height:4px;
	content:"";
	top:9px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:3px 7px;
	background: rgba(255,0,0,1);
	border-radius:3px 3px 5px 5px;
	-webkit-transform:rotate(10deg);
	    -ms-transform:rotate(10deg);
		 -o-transform:rotate(10deg);
	        transform:rotate(10deg);
	z-index:1;
}
div[ico-obj1=poke] {
	width:6px;
	height:10px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:6px 3px;
	border-left:1px solid transparent;
	border-top:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
	}
div[ico-obj1=poke]:before {
	width:6px;
	height:10px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:-1px 5px;
	border-left:1px solid transparent;
	border-top:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
	}
	
div[ico-obj2=poke] {
	width:6px;
	height:6px;
	content:"";
	top:5px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:4px 6px;
	background:rgba(0,0,0,.7);
	border-radius:5px 5px 3px 3px;
	z-index:1;
	overflow:hidden;
}

div[ico-obj2=poke]::before {
	width:6px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:0px 0px;
	background: rgba(255,255,255,1);
	border-radius:0px 0px 2px 2px;
	-webkit-transform:rotate(-10deg);
	    -ms-transform:rotate(-10deg);
		 -o-transform:rotate(-10deg);
	        transform:rotate(-10deg);
	z-index:-1;
}
/*poke icon ends here*/

/*lipsealed icon begins here*/
div[ico=lipsealed] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=lipsealed]::before {
	width:14.5px;
	height:14.5px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .8);
	}
div[ico-obj1=lipsealed] {
	width:5px;
	height:6px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:5px 5px;
	background:#fff;
	border-radius:70px 70px 60px 60px;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .6);
	}
div[ico-obj1=lipsealed]::before {
	width:5px;
	height:6px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:0px 5.2px;
	background:#fff ;
	border-radius:70px 70px 60px 60px;
	box-shadow:0px 0px 1px rgba(0, 0, 0, .6);
	}
	
div[ico-obj1=lipsealed]::after {
	width:8px;
	height:3px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:7px 1px;
	background: rgba(255,255,255,.8);
	box-shadow:0px 0px 1px rgba(0, 0, 0, .1);
}
div[ico-obj2=lipsealed] {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:7px 6px;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
div[ico-obj2=lipsealed]::before {
	width:2px;
	height:2px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:0px 6px;
	background:#554E3E;
	border-radius:50%;
	box-shadow:0px 0px 1.3px rgba(0, 0, 0, .1);
}
/*lipsealed icon ends here*/

/*not listening icon begins here*/
div[ico=not_listening] {
	width:16px;
	height:16px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=not_listening]::before {
	width:13px;
	height:13px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:2px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .8);
	}
div[ico-obj1=not_listening] {
	width:7px;
	height:10px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:5px 0px;
	border-left:1.5px solid transparent;
	border-top:1.5px solid #554E3E;
	border-right:1.5px solid transparent;
	border-radius:50%;
	}
div[ico-obj1=not_listening]::before {
	width:6px;
	height:10px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:-1px 5px;
	border-left:1.5px solid transparent;
	border-top:1.5px solid #554E3E;
	border-right:1.5px solid transparent;
	border-radius:50%;
	}
div[ico-obj1=not_listening]::after {
	width:7px;
	height:10px;
	content:"";
	top:10px;
	left:-6px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:-6px 6px;
	border-left:1px solid transparent;
	border-top:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
	}
div[ico-obj3=not_listening] {
	width:2px;
	height:6px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:4px 4px;
	background:#fff;
	border-radius:5px 5px 5px 5px;
	border-left:1px solid #554E3E;
	border-right:1px solid #554E3E;
	border-top:1px solid #554E3E;
	border-bottom:1px solid transparent;
	}
div[ico-obj3=not_listening]::before {
	width:2px;
	height:6px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:-2px 2px;
	background:#fff;
	border-radius:5px 5px 5px 5px;
	border-left:1px solid #554E3E;
	border-right:1px solid #554E3E;
	border-top:1px solid #554E3E;
	border-bottom:1px solid transparent;
	}
div[ico-obj3=not_listening]::after {
	width:2px;
	height:6px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:-1px 5px;
	background:#fff;
	border-radius:5px 5px 5px 5px;
	border-left:1px solid #554E3E;
	border-right:1px solid #554E3E;
	border-top:1px solid #554E3E;
	border-bottom:1px solid transparent;
	}
div[ico-obj4=not_listening] {
	width:9px;
	height:4px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:10px 4px;
	background:#fff;
	border-radius:5px 5px 5px 5px;
	border-left:1px solid #554E3E;
	border-right:1px solid #554E3E;
	border-bottom:1px solid #554E3E;
	border-top:1px solid transparent;
	}
div[ico-obj4=not_listening]::before {
	width:2px;
	height:4px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:-3px 7px;
	background:#fff;
	border-radius:5px 5px 5px 5px;
	border-left:1px solid #554E3E;
	border-right:1px solid #554E3E;
	border-top:1px solid #554E3E;
	border-bottom:1px solid transparent;
	-ms-transform:rotate(40deg);
	-o-transform:rotate(40deg);
	-webkit-transform:rotate(40deg);
	transform:rotate(40deg);
	}
/*not listening icon ends here*/

/*grin icon begins here*/
div[ico=grin] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=grin]::before {
	width:16px;
	height:16px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .8);
	}
div[ico=grin]::after {
	width:13px;
	height:7px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:6px 3.5px;
	background:-webkit-linear-gradient(top, #FFD940, #F8C001);
	background:linear-gradient(to bottom, #FFD940, #F8C001);
	border-radius:60px 60px 100px 100px;
	}
div[ico-obj1=grin] {
	width:6px;
	height:10px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:6px 3px;
	border-left:1px solid transparent;
	border-top:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
	z-index:1;
	}
div[ico-obj1=grin]:before {
	width:6px;
	height:10px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:-1px 5px;
	border-left:1px solid transparent;
	border-top:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
	}
	
div[ico-obj2=grin] {
	width:12px;
	height:8px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:9px 4px;
	background:#fff;
	border-radius:0px 0px 80px 80px;
	box-shadow:  0px 0px 1.3px rgba(0, 0, 0, .6);
	overflow:hidden;
	}
div[ico-obj2=grin]::before {
	width:16px;
	height:12px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:-7px -3px;
	border-radius:100%;
	border-bottom:1px solid rgba(0,0,0,.4);
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	}
div[ico-obj2=grin]::after {
	width:3px;
	height:8px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:0px 3px;
	border-left:1px solid rgba(0,0,0,.4);
	border-right:1px solid rgba(0,0,0,.4);
	}
/*grin icon ends here*/

/*rofl icon begins here*/
div[ico=rofl] {
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:#;
	margin:auto;
	}
div[ico=rofl]::before {
	width:16px;
	height:16px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:-webkit-linear-gradient(top, #FDE355, #F8C001);
	background:linear-gradient(to bottom, #FDE355, #F8C001);
	border-radius:100%;
	margin:auto;
	box-shadow: inset 0px 0px 1.3px rgba(0, 0, 0, .8);
	}
div[ico=rofl]::after {
	width:14px;
	height:7px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:5px 3px;
	background:-webkit-linear-gradient(top, #FFD940, #F8C001);
	background:linear-gradient(to bottom, #FFD940, #F8C001);
	border-radius:60px 60px 100px 100px;
	}
div[ico-obj1=rofl] {
	width:6px;
	height:16px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:6px 3px;
	border-left:1px solid transparent;
	border-top:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
	z-index:1;
	}
div[ico-obj1=rofl]:before {
	width:6px;
	height:16px;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	margin:-1px 5px;
	border-left:1px solid transparent;
	border-top:1px solid #554E3E;
	border-right:1px solid transparent;
	border-radius:50%;
	}
	
div[ico-obj2=rofl] {
	width:12px;
	height:8px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:9px 4px;
	background:#554E3E;
	border-radius:0px 0px 80px 80px;
	box-shadow:  0px 0px 1.3px rgba(0, 0, 0, .6);
	overflow:hidden;
	}
div[ico-obj2=rofl]::before {
	width:12px;
	height:10px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:-7px -1px;
	border-radius:100%;
	border-bottom:2px solid rgba(255,255,255,1);
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	}
div[ico-obj2=rofl]::after {
	width:5px;
	height:2px;
	position: absolute;
	content:"";
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:6px 3px;
	background:rgba(255,0,0,1);
	border-radius:5px 5px 1px 1px;
	}
/*rofl icon ends here*/