@charset "utf-8";
/* CSS Document */

/*loader60 begins here --------------------------------------------------------------*/

div[vtrs1="loader_ring"] {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
* left: 50%;
  margin: -120px 0 0 -120px;
}


div[vtrs1-obj1="loader_ring_light"] {
  width: 60px;
  height: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-box-shadow: 0 2px 0 #fff inset;
  -webkit-box-shadow: 0 2px 0 #fff inset;
  box-shadow: 0 2px 0 #fff inset;
  animation: rotate-360 1.5s linear infinite;
}

div[vtrs1-obj2="loader_ring_track"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  /*-moz-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;*/
}
div[vtrs1-obj3="loader_bg"] {
  width: 60px;
  height: 60px;
  position: absolute;
  margin:auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 100%;
  z-index: -2;
}
div[vtrs1-obj3="loader_bg"]:before {
  width: 50px;
  height: 50px;
  position: absolute;
  content: "";
  margin:auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fc5f00;
  border-radius: 100%;
}
div[vtrs1-obj3="loader_bg"]:after {
  position: absolute;
  content: "";
  margin:auto;
  top: 7px;
  bottom: 0;
  left: 2px;
  right: 0;
  background-repeat: no-repeat;
  background-size: 50px;
  background-image:  url(../img/ylogo.png);
}

@keyframes rotate-360 {
  from {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*body {
  background-color: rgba(0, 0, 0, 0.87);
}*/
/*loader60 ends here ----------------------------------------------------------------*/

/* Orange loader60 begins here ------------------------------------------------------*/

div[data="loader_ring"] {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
* left: 50%;
  margin: -120px 0 0 -120px;
}


div[data-obj1="loader_ring_light"] {
  width: 60px;
  height: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-box-shadow: 0 3px 0 #fc5f00 inset;
  -webkit-box-shadow: 0 3px 0 #fc5f00 inset;
  box-shadow: 0 3px 0 #fc5f00 inset;
  animation: rotate-360 1s linear infinite;
}

div[data-obj2="loader_ring_track"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  /*-moz-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;*/
}
div[data-obj3="loader_bg"] {
  width: 60px;
  height: 60px;
  position: absolute;
  margin:auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  border-radius: 100%;
  z-index: -2;
}

@keyframes rotate-360 {
  from {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*body {
  background-color: rgba(0, 0, 0, 0.87);
}*/
/* orange loader60 ends here --------------------------------------------------------*/


/*loader120 begins here ------------------------------------------------------------*/

div[vtrs2="loader_ring"] {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
* left: 50%;
  margin: -120px 0 0 -120px;
}


div[vtrs2-obj1="loader_ring_light"] {
  width: 120px;
  height: 120px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  border-radius: 80px;
  -moz-box-shadow: 0 4px 0 #fff inset;
  -webkit-box-shadow: 0 4px 0 #fff inset;
  box-shadow: 0 4px 0 #fff inset;
  animation: rotate-360 1.5s linear infinite;
}

div[vtrs2-obj2="loader_ring_track"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  border-radius: 90px;
  /*-moz-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;*/
}
div[vtrs2-obj3="loader_bg"] {
  width: 120px;
  height: 120px;
  position: absolute;
  margin:auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 100%;
  z-index: -2;
}
div[vtrs2-obj3="loader_bg"]:before {
  width: 100px;
  height: 100px;
  position: absolute;
  content: "";
  margin:auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fc5f00;
  border-radius: 100%;
}
div[vtrs2-obj3="loader_bg"]:after {
  position: absolute;
  content: "";
  margin:auto;
  top: 16px;
  bottom: 0;
  left: 8px;
  right: 0;
  background-repeat: no-repeat;
  background-size: 90px;
  background-image:  url(../img/ylogo.png);
}

@keyframes rotate-360 {
  from {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*body {
  background-color: rgba(0, 0, 0, 0.87);
}*/
/*loader120 ends here-------------------------------------------------------------*/

/*loader120 version 2 begins here------------------------------------------------*/
div[data-ring="loader_ring"] {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
* left: 50%;
  margin: -120px 0 0 -120px;
}


div[data-ring-obj1="loader_ring_light"] {
  width: 120px;
  height: 120px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  border-radius: 90px;
  -moz-box-shadow: 0 6px 0 #fc5f00 inset;
  -webkit-box-shadow: 0 6px 0 #fc5f00 inset;
  box-shadow: 0 6px 0 #fc5f00 inset;
  animation: rotate-360 1s linear infinite;
}

div[data-ring-obj2="loader_ring_track"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  border-radius: 90px;
 /*-moz-box-shadow:  0 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow:  0 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1) inset;*/
}

div[data-ring-obj3="loader_bg"] {
  width: 120px;
  height: 120px;
  position: absolute;
  margin:auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 100%;
  z-index: -2;
}
div[data-ring-obj3="loader_bg"]:before {
  width: 100px;
  height: 100px;
  position: absolute;
  content: "";
  margin:auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  border-radius: 100%;
  border: 6px steps #ccc;
  animation: rotate-360 1s linear infinite;
}

@keyframes rotate-360 {
  from {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*body {
  background-color: rgba(0, 0, 0, 0.87);
}*/
/*loader120 version 2 ends here*/


/*loader38 begins here-----------------------------------------*/

div[vtrs3="loader_ring"] {
  width: 38px;
  height: 38px;
  position: absolute;
 /* top: 50%;
  left: 50%;
  margin: -120px 0 0 -120px;*/
}
div[vtrs3-obj1="loader_ring_light"] {
  width: 30px;
  height: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-box-shadow: 2px 2px 0 #4a5455 inset;
  -webkit-box-shadow: 2px 2px 0 #4a5455 inset;
  box-shadow: 2px 2px 0 #4a5455 inset;
  animation: rotate-360 0.9s linear infinite;
}
div[vtrs3-obj2="loader_ring_track"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  /*-moz-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;*/
}
div[vtrs3-obj3="loader_bg"] {
  width: 30px;
  height: 30px;
  position: absolute;
  margin:auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background: #ccc;*/
  border-radius: 100%;
  z-index: -2;
}
div[vtrs3-obj3="loader_bg"]:before {
  width: 30px;
  height: 30px;
  position: absolute;
  content: "";
  margin:auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background: #fc5f00;*/
  border-radius: 100%;
}
@keyframes rotate-360 {
  from {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*white loader38 begins here-----------------------------------------*/

div[whitevtrs3="loader_ring"] {
  width: 38px;
  height: 38px;
  position: absolute;
 /* top: 50%;
  left: 50%;
  margin: -120px 0 0 -120px;*/
}
div[whitevtrs3-obj1="loader_ring_light"] {
  width: 30px;
  height: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-box-shadow: 2px 2px 0 #fff inset;
  -webkit-box-shadow: 2px 2px 0 #fff inset;
  box-shadow: 2px 2px 0 #fff inset;
  animation: rotate-360 0.9s linear infinite;
}
div[whitevtrs3-obj2="loader_ring_track"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  /*-moz-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;*/
}
div[whitevtrs3-obj3="loader_bg"] {
  width: 30px;
  height: 30px;
  position: absolute;
  margin:auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background: #ccc;*/
  border-radius: 100%;
  z-index: -2;
}
div[whitevtrs3-obj3="loader_bg"]:before {
  width: 30px;
  height: 30px;
  position: absolute;
  content: "";
  margin:auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background: #fc5f00;*/
  border-radius: 100%;
}

@keyframes rotate-360 {
  from {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*white loader38 ends here-----------------------------------------*/

/* Broadcast loader  ----------------------------------------------*/
div[data-box="box"] {
  position: absolute;
  width: 72px;
  height: 11px;
  background-color: none;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

div [data-box1="loading"]::after {
  content: '';
  position: absolute;
  left: -40px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 1px;
  background-color: transparent;
  box-shadow:  40px 0 0px #fff, 55px 0 2px rgba(255, 255, 255, 0.8), 
  70px 0 4px rgba(255, 255, 255, 0.6), 85px 0 6px rgba(255, 255, 255, 0.4), 100px 0 8px rgba(255, 255, 255, 0.2);
  -webkit-animation: loadingAnim 2s linear infinite;
  -moz-animation: loadingAnim 2s linear infinite;
  animation: loadingAnim 1s linear infinite;
}

@-webkit-keyframes loadingAnim {
  0% {
    box-shadow: 40px 0 0px rgba(255, 255, 255, 0.8), 55px 0 4px rgba(255, 255, 255, 0.6), 70px 0 6px rgba(255, 255, 255, 0.4), 85px 0 8px rgba(255, 255, 255, 0.2), 100px 0 10px rgba(255, 255, 255, 0);
  }
  10% {
    box-shadow: 40px 0 0px #fff, 55px 0 2px rgba(255, 255, 255, 0.8), 70px 0 4px rgba(255, 255, 255, 0.6), 85px 0 6px rgba(255, 255, 255, 0.4), 100px 0 8px rgba(255, 255, 255, 0.2);
  }
  20% {
    box-shadow: 40px 0 2px rgba(255, 255, 255, 0.8), 55px 0 0px #fff, 70px 0 2px rgba(255, 255, 255, 0.8), 85px 0 4px rgba(255, 255, 255, 0.6), 100px 0 6px rgba(255, 255, 255, 0.4);
  }
  30% {
    box-shadow: 40px 0 2px rgba(255, 255, 255, 0.6), 55px 0 2px rgba(255, 255, 255, 0.8), 70px 0 0px #fff, 85px 0 2px rgba(255, 255, 255, 0.8), 100px 0 4px rgba(255, 255, 255, 0.6);
  }
  40% {
    box-shadow: 40px 0 3px rgba(255, 255, 255, 0.4), 55px 0 4px rgba(255, 255, 255, 0.6), 70px 0 2px rgba(255, 255, 255, 0.8), 85px 0 0px #fff, 100px 0 2px rgba(255, 255, 255, 0.8);
  }
  50% {
    box-shadow: 40px 0 4px rgba(255, 255, 255, 0.2), 55px 0 6px rgba(255, 255, 255, 0.4), 70px 0 4px rgba(255, 255, 255, 0.6), 85px 0 2px rgba(255, 255, 255, 0.8), 100px 0 0px #fff;
  }
  60% {
    box-shadow: 40px 0 5px rgba(255, 255, 255, 0), 55px 0 8px rgba(255, 255, 255, 0.2), 70px 0 6px rgba(255, 255, 255, 0.4), 85px 0 4px rgba(255, 255, 255, 0.6), 100px 0 2px rgba(255, 255, 255, 0.8);
  }
  70% {
    box-shadow: 40px 0 4px rgba(255, 255, 255, 0.2), 55px 0 10px rgba(255, 255, 255, 0), 70px 0 8px rgba(255, 255, 255, 0.2), 85px 0 6px rgba(255, 255, 255, 0.4), 100px 0 4px rgba(255, 255, 255, 0.6);
  }
  80% {
    box-shadow: 40px 0 3px rgba(255, 255, 255, 0.4), 55px 0 8px rgba(255, 255, 255, 0.2), 70px 0 10px rgba(255, 255, 255, 0), 85px 0 8px rgba(255, 255, 255, 0.2), 100px 0 6px rgba(255, 255, 255, 0.4);
  }
  90% {
    box-shadow: 40px 0 2px rgba(255, 255, 255, 0.6), 55px 0 6px rgba(255, 255, 255, 0.4), 70px 0 8px rgba(255, 255, 255, 0.2), 85px 0 10px rgba(255, 255, 255, 0), 100px 0 8px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 40px 0 0px rgba(255, 255, 255, 0.8), 55px 0 4px rgba(255, 255, 255, 0.6), 70px 0 6px rgba(255, 255, 255, 0.4), 85px 0 8px rgba(255, 255, 255, 0.2), 100px 0 10px rgba(255, 255, 255, 0);
  }
}
@-moz-keyframes loadingAnim {
  0% {
    box-shadow: 40px 0 0px rgba(255, 255, 255, 0.8), 55px 0 4px rgba(255, 255, 255, 0.6), 70px 0 6px rgba(255, 255, 255, 0.4), 85px 0 8px rgba(255, 255, 255, 0.2), 100px 0 10px rgba(255, 255, 255, 0);
  }
  10% {
    box-shadow: 40px 0 0px #fff, 55px 0 2px rgba(255, 255, 255, 0.8), 70px 0 4px rgba(255, 255, 255, 0.6), 85px 0 6px rgba(255, 255, 255, 0.4), 100px 0 8px rgba(255, 255, 255, 0.2);
  }
  20% {
    box-shadow: 40px 0 2px rgba(255, 255, 255, 0.8), 55px 0 0px #fff, 70px 0 2px rgba(255, 255, 255, 0.8), 85px 0 4px rgba(255, 255, 255, 0.6), 100px 0 6px rgba(255, 255, 255, 0.4);
  }
  30% {
    box-shadow: 40px 0 2px rgba(255, 255, 255, 0.6), 55px 0 2px rgba(255, 255, 255, 0.8), 70px 0 0px #fff, 85px 0 2px rgba(255, 255, 255, 0.8), 100px 0 4px rgba(255, 255, 255, 0.6);
  }
  40% {
    box-shadow: 40px 0 3px rgba(255, 255, 255, 0.4), 55px 0 4px rgba(255, 255, 255, 0.6), 70px 0 2px rgba(255, 255, 255, 0.8), 85px 0 0px #fff, 100px 0 2px rgba(255, 255, 255, 0.8);
  }
  50% {
    box-shadow: 40px 0 4px rgba(255, 255, 255, 0.2), 55px 0 6px rgba(255, 255, 255, 0.4), 70px 0 4px rgba(255, 255, 255, 0.6), 85px 0 2px rgba(255, 255, 255, 0.8), 100px 0 0px #fff;
  }
  60% {
    box-shadow: 40px 0 5px rgba(255, 255, 255, 0), 55px 0 8px rgba(255, 255, 255, 0.2), 70px 0 6px rgba(255, 255, 255, 0.4), 85px 0 4px rgba(255, 255, 255, 0.6), 100px 0 2px rgba(255, 255, 255, 0.8);
  }
  70% {
    box-shadow: 40px 0 4px rgba(255, 255, 255, 0.2), 55px 0 10px rgba(255, 255, 255, 0), 70px 0 8px rgba(255, 255, 255, 0.2), 85px 0 6px rgba(255, 255, 255, 0.4), 100px 0 4px rgba(255, 255, 255, 0.6);
  }
  80% {
    box-shadow: 40px 0 3px rgba(255, 255, 255, 0.4), 55px 0 8px rgba(255, 255, 255, 0.2), 70px 0 10px rgba(255, 255, 255, 0), 85px 0 8px rgba(255, 255, 255, 0.2), 100px 0 6px rgba(255, 255, 255, 0.4);
  }
  90% {
    box-shadow: 40px 0 2px rgba(255, 255, 255, 0.6), 55px 0 6px rgba(255, 255, 255, 0.4), 70px 0 8px rgba(255, 255, 255, 0.2), 85px 0 10px rgba(255, 255, 255, 0), 100px 0 8px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 40px 0 2px rgba(255, 255, 255, 0.8), 55px 0 4px rgba(255, 255, 255, 0.6), 70px 0 6px rgba(255, 255, 255, 0.4), 85px 0 8px rgba(255, 255, 255, 0.2), 100px 0 10px rgba(255, 255, 255, 0);
  }
}
@keyframes loadingAnim {
  0% {
    box-shadow: 40px 0 0px rgba(255, 255, 255, 0.8), 55px 0 4px rgba(255, 255, 255, 0.6), 70px 0 6px rgba(255, 255, 255, 0.4), 85px 0 8px rgba(255, 255, 255, 0.2), 100px 0 10px rgba(255, 255, 255, 0);
  }
  10% {
    box-shadow: 40px 0 0px #fff, 55px 0 2px rgba(255, 255, 255, 0.8), 70px 0 4px rgba(255, 255, 255, 0.6), 85px 0 6px rgba(255, 255, 255, 0.4), 100px 0 8px rgba(255, 255, 255, 0.2);
  }
  20% {
    box-shadow: 40px 0 2px rgba(255, 255, 255, 0.8), 55px 0 0px #fff, 70px 0 2px rgba(255, 255, 255, 0.8), 85px 0 4px rgba(255, 255, 255, 0.6), 100px 0 6px rgba(255, 255, 255, 0.4);
  }
  30% {
    box-shadow: 40px 0 3px rgba(255, 255, 255, 0.6), 55px 0 2px rgba(255, 255, 255, 0.8), 70px 0 0px #fff, 85px 0 2px rgba(255, 255, 255, 0.8), 100px 0 4px rgba(255, 255, 255, 0.6);
  }
  40% {
    box-shadow: 40px 0 4px rgba(255, 255, 255, 0.4), 55px 0 4px rgba(255, 255, 255, 0.6), 70px 0 2px rgba(255, 255, 255, 0.8), 85px 0 0px #fff, 100px 0 2px rgba(255, 255, 255, 0.8);
  }
  50% {
    box-shadow: 40px 0 5px rgba(255, 255, 255, 0.2), 55px 0 6px rgba(255, 255, 255, 0.4), 70px 0 4px rgba(255, 255, 255, 0.6), 85px 0 2px rgba(255, 255, 255, 0.8), 100px 0 0px #fff;
  }
  60% {
    box-shadow: 40px 0 4px rgba(255, 255, 255, 0), 55px 0 8px rgba(255, 255, 255, 0.2), 70px 0 6px rgba(255, 255, 255, 0.4), 85px 0 4px rgba(255, 255, 255, 0.6), 100px 0 2px rgba(255, 255, 255, 0.8);
  }
  70% {
    box-shadow: 40px 0 5px rgba(255, 255, 255, 0.2), 55px 0 10px rgba(255, 255, 255, 0), 70px 0 8px rgba(255, 255, 255, 0.2), 85px 0 6px rgba(255, 255, 255, 0.4), 100px 0 4px rgba(255, 255, 255, 0.6);
  }
  80% {
    box-shadow: 40px 0 4px rgba(255, 255, 255, 0.4), 55px 0 8px rgba(255, 255, 255, 0.2), 70px 0 10px rgba(255, 255, 255, 0), 85px 0 8px rgba(255, 255, 255, 0.2), 100px 0 6px rgba(255, 255, 255, 0.4);
  }
  90% {
    box-shadow: 40px 0 3px rgba(255, 255, 255, 0.6), 55px 0 6px rgba(255, 255, 255, 0.4), 70px 0 8px rgba(255, 255, 255, 0.2), 85px 0 10px rgba(255, 255, 255, 0), 100px 0 8px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 40px 0 2px rgba(255, 255, 255, 0.8), 55px 0 4px rgba(255, 255, 255, 0.6), 70px 0 6px rgba(255, 255, 255, 0.4), 85px 0 8px rgba(255, 255, 255, 0.2), 288px 0 10px rgba(255, 255, 255, 0); 
  }
}

/* Broadcast loader orange bg ---------------------------------------*/
div[data-box="orangebox"] {
  position: absolute;
  width: 72px;
  height: 11px;
  background-color: #f26522;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
div [data-box1="orangeloading"]::after {
  content: '';
  position: absolute;
  left: -40px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 1px;
  background-color: transparent;
  box-shadow:  40px 0 0px #fff, 55px 0 2px rgba(255, 255, 255, 0.8), 
  70px 0 4px rgba(255, 255, 255, 0.6), 85px 0 6px rgba(255, 255, 255, 0.4), 100px 0 8px rgba(255, 255, 255, 0.2);
  -webkit-animation: loadingAnim 2s linear infinite;
  -moz-animation: loadingAnim 2s linear infinite;
  animation: loadingAnim 1s linear infinite;
}
@-webkit-keyframes loadingAnim {
  0% {
    box-shadow: 40px 0 0px rgba(255, 255, 255, 0.8), 55px 0 4px rgba(255, 255, 255, 0.6), 70px 0 6px rgba(255, 255, 255, 0.4), 85px 0 8px rgba(255, 255, 255, 0.2), 100px 0 10px rgba(255, 255, 255, 0);
  }
  10% {
    box-shadow: 40px 0 0px #fff, 55px 0 2px rgba(255, 255, 255, 0.8), 70px 0 4px rgba(255, 255, 255, 0.6), 85px 0 6px rgba(255, 255, 255, 0.4), 100px 0 8px rgba(255, 255, 255, 0.2);
  }
  20% {
    box-shadow: 40px 0 2px rgba(255, 255, 255, 0.8), 55px 0 0px #fff, 70px 0 2px rgba(255, 255, 255, 0.8), 85px 0 4px rgba(255, 255, 255, 0.6), 100px 0 6px rgba(255, 255, 255, 0.4);
  }
  30% {
    box-shadow: 40px 0 2px rgba(255, 255, 255, 0.6), 55px 0 2px rgba(255, 255, 255, 0.8), 70px 0 0px #fff, 85px 0 2px rgba(255, 255, 255, 0.8), 100px 0 4px rgba(255, 255, 255, 0.6);
  }
  40% {
    box-shadow: 40px 0 3px rgba(255, 255, 255, 0.4), 55px 0 4px rgba(255, 255, 255, 0.6), 70px 0 2px rgba(255, 255, 255, 0.8), 85px 0 0px #fff, 100px 0 2px rgba(255, 255, 255, 0.8);
  }
  50% {
    box-shadow: 40px 0 4px rgba(255, 255, 255, 0.2), 55px 0 6px rgba(255, 255, 255, 0.4), 70px 0 4px rgba(255, 255, 255, 0.6), 85px 0 2px rgba(255, 255, 255, 0.8), 100px 0 0px #fff;
  }
  60% {
    box-shadow: 40px 0 5px rgba(255, 255, 255, 0), 55px 0 8px rgba(255, 255, 255, 0.2), 70px 0 6px rgba(255, 255, 255, 0.4), 85px 0 4px rgba(255, 255, 255, 0.6), 100px 0 2px rgba(255, 255, 255, 0.8);
  }
  70% {
    box-shadow: 40px 0 4px rgba(255, 255, 255, 0.2), 55px 0 10px rgba(255, 255, 255, 0), 70px 0 8px rgba(255, 255, 255, 0.2), 85px 0 6px rgba(255, 255, 255, 0.4), 100px 0 4px rgba(255, 255, 255, 0.6);
  }
  80% {
    box-shadow: 40px 0 3px rgba(255, 255, 255, 0.4), 55px 0 8px rgba(255, 255, 255, 0.2), 70px 0 10px rgba(255, 255, 255, 0), 85px 0 8px rgba(255, 255, 255, 0.2), 100px 0 6px rgba(255, 255, 255, 0.4);
  }
  90% {
    box-shadow: 40px 0 2px rgba(255, 255, 255, 0.6), 55px 0 6px rgba(255, 255, 255, 0.4), 70px 0 8px rgba(255, 255, 255, 0.2), 85px 0 10px rgba(255, 255, 255, 0), 100px 0 8px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 40px 0 0px rgba(255, 255, 255, 0.8), 55px 0 4px rgba(255, 255, 255, 0.6), 70px 0 6px rgba(255, 255, 255, 0.4), 85px 0 8px rgba(255, 255, 255, 0.2), 100px 0 10px rgba(255, 255, 255, 0);
  }
}
@-moz-keyframes loadingAnim {
  0% {
    box-shadow: 40px 0 0px rgba(255, 255, 255, 0.8), 55px 0 4px rgba(255, 255, 255, 0.6), 70px 0 6px rgba(255, 255, 255, 0.4), 85px 0 8px rgba(255, 255, 255, 0.2), 100px 0 10px rgba(255, 255, 255, 0);
  }
  10% {
    box-shadow: 40px 0 0px #fff, 55px 0 2px rgba(255, 255, 255, 0.8), 70px 0 4px rgba(255, 255, 255, 0.6), 85px 0 6px rgba(255, 255, 255, 0.4), 100px 0 8px rgba(255, 255, 255, 0.2);
  }
  20% {
    box-shadow: 40px 0 2px rgba(255, 255, 255, 0.8), 55px 0 0px #fff, 70px 0 2px rgba(255, 255, 255, 0.8), 85px 0 4px rgba(255, 255, 255, 0.6), 100px 0 6px rgba(255, 255, 255, 0.4);
  }
  30% {
    box-shadow: 40px 0 2px rgba(255, 255, 255, 0.6), 55px 0 2px rgba(255, 255, 255, 0.8), 70px 0 0px #fff, 85px 0 2px rgba(255, 255, 255, 0.8), 100px 0 4px rgba(255, 255, 255, 0.6);
  }
  40% {
    box-shadow: 40px 0 3px rgba(255, 255, 255, 0.4), 55px 0 4px rgba(255, 255, 255, 0.6), 70px 0 2px rgba(255, 255, 255, 0.8), 85px 0 0px #fff, 100px 0 2px rgba(255, 255, 255, 0.8);
  }
  50% {
    box-shadow: 40px 0 4px rgba(255, 255, 255, 0.2), 55px 0 6px rgba(255, 255, 255, 0.4), 70px 0 4px rgba(255, 255, 255, 0.6), 85px 0 2px rgba(255, 255, 255, 0.8), 100px 0 0px #fff;
  }
  60% {
    box-shadow: 40px 0 5px rgba(255, 255, 255, 0), 55px 0 8px rgba(255, 255, 255, 0.2), 70px 0 6px rgba(255, 255, 255, 0.4), 85px 0 4px rgba(255, 255, 255, 0.6), 100px 0 2px rgba(255, 255, 255, 0.8);
  }
  70% {
    box-shadow: 40px 0 4px rgba(255, 255, 255, 0.2), 55px 0 10px rgba(255, 255, 255, 0), 70px 0 8px rgba(255, 255, 255, 0.2), 85px 0 6px rgba(255, 255, 255, 0.4), 100px 0 4px rgba(255, 255, 255, 0.6);
  }
  80% {
    box-shadow: 40px 0 3px rgba(255, 255, 255, 0.4), 55px 0 8px rgba(255, 255, 255, 0.2), 70px 0 10px rgba(255, 255, 255, 0), 85px 0 8px rgba(255, 255, 255, 0.2), 100px 0 6px rgba(255, 255, 255, 0.4);
  }
  90% {
    box-shadow: 40px 0 2px rgba(255, 255, 255, 0.6), 55px 0 6px rgba(255, 255, 255, 0.4), 70px 0 8px rgba(255, 255, 255, 0.2), 85px 0 10px rgba(255, 255, 255, 0), 100px 0 8px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 40px 0 2px rgba(255, 255, 255, 0.8), 55px 0 4px rgba(255, 255, 255, 0.6), 70px 0 6px rgba(255, 255, 255, 0.4), 85px 0 8px rgba(255, 255, 255, 0.2), 100px 0 10px rgba(255, 255, 255, 0);
  }
}
@keyframes loadingAnim {
  0% {
    box-shadow: 40px 0 0px rgba(255, 255, 255, 0.8), 55px 0 4px rgba(255, 255, 255, 0.6), 70px 0 6px rgba(255, 255, 255, 0.4), 85px 0 8px rgba(255, 255, 255, 0.2), 100px 0 10px rgba(255, 255, 255, 0);
  }
  10% {
    box-shadow: 40px 0 0px #fff, 55px 0 2px rgba(255, 255, 255, 0.8), 70px 0 4px rgba(255, 255, 255, 0.6), 85px 0 6px rgba(255, 255, 255, 0.4), 100px 0 8px rgba(255, 255, 255, 0.2);
  }
  20% {
    box-shadow: 40px 0 2px rgba(255, 255, 255, 0.8), 55px 0 0px #fff, 70px 0 2px rgba(255, 255, 255, 0.8), 85px 0 4px rgba(255, 255, 255, 0.6), 100px 0 6px rgba(255, 255, 255, 0.4);
  }
  30% {
    box-shadow: 40px 0 3px rgba(255, 255, 255, 0.6), 55px 0 2px rgba(255, 255, 255, 0.8), 70px 0 0px #fff, 85px 0 2px rgba(255, 255, 255, 0.8), 100px 0 4px rgba(255, 255, 255, 0.6);
  }
  40% {
    box-shadow: 40px 0 4px rgba(255, 255, 255, 0.4), 55px 0 4px rgba(255, 255, 255, 0.6), 70px 0 2px rgba(255, 255, 255, 0.8), 85px 0 0px #fff, 100px 0 2px rgba(255, 255, 255, 0.8);
  }
  50% {
    box-shadow: 40px 0 5px rgba(255, 255, 255, 0.2), 55px 0 6px rgba(255, 255, 255, 0.4), 70px 0 4px rgba(255, 255, 255, 0.6), 85px 0 2px rgba(255, 255, 255, 0.8), 100px 0 0px #fff;
  }
  60% {
    box-shadow: 40px 0 4px rgba(255, 255, 255, 0), 55px 0 8px rgba(255, 255, 255, 0.2), 70px 0 6px rgba(255, 255, 255, 0.4), 85px 0 4px rgba(255, 255, 255, 0.6), 100px 0 2px rgba(255, 255, 255, 0.8);
  }
  70% {
    box-shadow: 40px 0 5px rgba(255, 255, 255, 0.2), 55px 0 10px rgba(255, 255, 255, 0), 70px 0 8px rgba(255, 255, 255, 0.2), 85px 0 6px rgba(255, 255, 255, 0.4), 100px 0 4px rgba(255, 255, 255, 0.6);
  }
  80% {
    box-shadow: 40px 0 4px rgba(255, 255, 255, 0.4), 55px 0 8px rgba(255, 255, 255, 0.2), 70px 0 10px rgba(255, 255, 255, 0), 85px 0 8px rgba(255, 255, 255, 0.2), 100px 0 6px rgba(255, 255, 255, 0.4);
  }
  90% {
    box-shadow: 40px 0 3px rgba(255, 255, 255, 0.6), 55px 0 6px rgba(255, 255, 255, 0.4), 70px 0 8px rgba(255, 255, 255, 0.2), 85px 0 10px rgba(255, 255, 255, 0), 100px 0 8px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 40px 0 2px rgba(255, 255, 255, 0.8), 55px 0 4px rgba(255, 255, 255, 0.6), 70px 0 6px rgba(255, 255, 255, 0.4), 85px 0 8px rgba(255, 255, 255, 0.2), 288px 0 10px rgba(255, 255, 255, 0); 
  }
}

/* Progress loader 80 --------------------------------------------------- */
* {
  box-sizing: border-box;
}
#wrapper {
  position: absolute;
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  border: 10px solid transparent;
  box-shadow: 0 0 0 5px none;
  background: #none;
}

.mask {
  border-radius: 50%;
  background: none;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  position: absolute;
  text-align: center;
  color: none;
  font-size: 30px;
  font-family: 'Baumans';
}

.cell {
  height: 25px;
  width: 100%;
  overflow: hidden;
}

.mask li {
  color: none;
  height: 25px;
  line-height: 25px;
}

.mask li:after {
  content: "%";
}

.clear {
  animation: opa 0.2s 10s 1;
}

.hold {
  position: absolute;
  width: 80px;
  height: 80px;
  clip: rect(0px, 80px, 80px, 40px);
  background: #transparent;
  border-radius: 50%;
}

.pie {
  position: absolute;
  width: 80px;
  height: 80px;
  clip: rect(0px, 40px, 80px, 0px);
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background: none;
  border: 6px solid #ff6300;

}

.na {
  animation: rota 5s linear 1;
}

.fill {
  background: #none;
  opacity: 0;
  transform: rotate(180deg);
  animation-name: opa;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.gt2 {
  transform: rotate(180deg);
}

.gt2 .na {
  animation: rota 5s 5s linear 1;
  animation-name: rota;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@-moz-keyframes percents {
  from {
    top: 0;
  }
  to {
    top: -2525px;
  }
}
@-webkit-keyframes percents {
  from {
    top: 0;
  }
  to {
    top: -2525px;
  }
}
@-moz-keyframes rota {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes rota {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@-moz-keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Progress loader 80 ends here--------------------------------------------------- */

/* Rotate Spin loader 30 begins here ----------------------------------------------*/
.showbox30 {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

.loader30 {
  position: relative;
  margin: 0 auto;
  width: 30px;
}
.loader30:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular30 {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path30 {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #ff6000;
  }
  66% {
    stroke: #ff8b2d;
  }
  80%,
  90% {
    stroke: #ff6300;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #ff6000;
  }
  66% {
    stroke: #ff8b2d;
  }
  80%,
  90% {
    stroke: #ff6300;
  }
}
/* Rotate Spin loader 30 ends here ------------------------------------------------------*/

/* Rotate Spin loader 60 begins here---------------------------------------------------- */
.showbox60 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

.loader60 {
  position: relative;
  margin: 0 auto;
  width: 60px;
}
.loader60:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular60 {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path60 {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #ff6000;
  }
  66% {
    stroke: #ff8b2d;
  }
  80%,
  90% {
    stroke: #ff6300;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #ff6000;
  }
  66% {
    stroke: #ff8b2d;
  }
  80%,
  90% {
    stroke: #ff6300;
  }
}
/* Rotate Spin loader 60 ends here -------------------------------------------------*/

/* Rotate Spin loader 90 begins here ----------------------------------------------------*/
.showbox90 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

.loader90 {
  position: relative;
  margin: 0 auto;
  width: 90px;
}
.loader90:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular90 {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path90 {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #ff6000;
  }
  66% {
    stroke: #ff8b2d;
  }
  80%,
  90% {
    stroke: #ff6300;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #ff6000;
  }
  66% {
    stroke: #ff8b2d;
  }
  80%,
  90% {
    stroke: #ff6300;
  }
}
/* Rotate Spin loader 90 ends here ----------------------------------------------------*/

/* Rotate Spin loader 120 begins here --------------------------------------------------*/
.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 120px;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #ff6000;
  }
  66% {
    stroke: #ff8b2d;
  }
  80%,
  90% {
    stroke: #ff6300;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #ff6000;
  }
  66% {
    stroke: #ff8b2d;
  }
  80%,
  90% {
    stroke: #ff6300;
  }
}
/* Rotate Spin loader 120 ends here -------------------------------------------------------*/

/* comment loader begins----------------------------------------------------------------- */
.loader {
  position: relative;
  max-width: 50%;
}
.loader:after {
  position: absolute;
  display: block;
  content: '';
  clear: both;
}
.loader .bubble {
  display: block;
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 6px;
  margin-top: 2px;
  background-color: #7a7a7a;
  opacity: 0;
  -moz-transform-origin: center center 50%;
  -ms-transform-origin: center center 50%;
  -webkit-transform-origin: center center 50%;
  transform-origin: center center 50%;
  -moz-animation-name: pulse;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -moz-animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.loader .bubble:nth-child(2) {
  width: 14px;
  height: 14px;
  margin-top: 0;
  -moz-animation-delay: 0.12s;
  -webkit-animation-delay: 0.12s;
  animation-delay: 0.12s;
}
.loader .bubble:nth-child(3) {
  -moz-animation-delay: 0.24s;
  -webkit-animation-delay: 0.24s;
  animation-delay: 0.24s;
}

@-moz-keyframes pulse {
  0% {
    opacity: .15;
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  24% {
    opacity: 1;
    -moz-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  48% {
    opacity: .15;
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: .15;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  24% {
    opacity: 1;
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  48% {
    opacity: .15;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes pulse {
  0% {
    opacity: .15;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  24% {
    opacity: 1;
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  48% {
    opacity: .15;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
/* comment loader ends---------------------------------------------------------------- */


/* comment loader small begins-------------------------------------------------------- */
.loader2 {
  width: 25px;
  height: 6px
  position: relative;
}
.loader2:after {
  position: absolute;
  display: block;
  content: '';
  clear: both;
}
.loader2 .bubble2 {
  display: block;
  width: 5px;
  height: 5px;
  float: left;
  margin-right: 3px;
  margin-top: 2px;
  background-color: #7a7a7a;
  opacity: 0;
  -moz-transform-origin: center center 50%;
  -ms-transform-origin: center center 50%;
  -webkit-transform-origin: center center 50%;
  transform-origin: center center 50%;
  -moz-animation-name: pulsesmall;
  -webkit-animation-name: pulse;
  animation-name: pulsesmall;
  -moz-animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.loader2 .bubble2:nth-child(2) {
  width: 6px;
  height: 6px;
  margin-top: 0;
  -moz-animation-delay: 0.12s;
  -webkit-animation-delay: 0.12s;
  animation-delay: 0.12s;
}
.loader2 .bubble2:nth-child(3) {
  -moz-animation-delay: 0.24s;
  -webkit-animation-delay: 0.24s;
  animation-delay: 0.24s;
}

@-moz-keyframes pulsesmall {
  0% {
    opacity: .15;
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  24% {
    opacity: 1;
    -moz-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  48% {
    opacity: .15;
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: .15;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  24% {
    opacity: 1;
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  48% {
    opacity: .15;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes pulse {
  0% {
    opacity: .15;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  24% {
    opacity: 1;
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  48% {
    opacity: .15;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
/* comment loader small ends -------------------------------------------------------*/

/* logo loader begins here ---------------------------------------------------------*/
.logoloader {
  height: 80px;
  width: 80px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: TranslateY(-50%);
}
.logoloader::after, .logoloader::before {
  content: "";
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  left: 58%;
  margin-left: -49px;
  top: 58%;
  margin-top: -49px;
  border: 3px solid transparent;
}
.logoloader::before {
  border-top-color: #a8a8a8;
  animation: rotation 1.0s linear infinite;
}
.logoloader::after {
  border-right-color: #d6d6d6;
  animation: rotation 1.0s linear infinite reverse;
  width: 60px;
  height: 60px;
  margin-left: -39px;
  margin-top: -39px;
}

div[logobg="logo_bg"] {
  width: 60px;
  height: 60px;
  position: absolute;
  margin:auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
  border-radius: 100%;
  z-index: -2;
}
div[logobg="logo_bg"]::before {
  width: 50px;
  height: 50px;
  position: absolute;
  content: "";
  margin:auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fc5f00;
  border-radius: 100%;
}

div[logobg="logo_bg"]::after {
  position: absolute;
  content: "";
  margin:auto;
  top: 7px;
  bottom: 0;
  left: 2px;
  right: 0;
  background-repeat: no-repeat;
  background-size: 50px;
  background-image:  url(../img/ylogo.png);
}
/**********************************/
/* KEYFRAME ANIMATION DEFINITIONS */
/**********************************/
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}